body {
    background-image: url(../img/background.PNG);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #F6F4E8;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    color: #1D3124;
    display: flex;
    flex-direction: column;
    position: relative;
}

a {
    text-decoration: none;
    color: #1D3124;
}

a:hover {
    color: #BACEC1;
}

/* Debut css Header */

.active{
    color: #BACEC1;
    text-decoration: underline;
}
.active:hover{
    color: #1D3124;
}

li {
    list-style-type: none;
    /* display: inline; */
}
.icon{
    width: 50px ;
    height: auto;
}
.menu{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 4%;
}
.menu a:nth-child(5){
    display: none;   
}
.navbar-light{
    background-color:#BACEC1 ;
}
header nav div a{
    display: none;
}
/* Burgermenu */
#burgermenu{
    display: none;
    float: left;
}

/* Burgermenu */


/* Fin css Header */

/* objets fixe */

.fixed{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 2%;
    margin-bottom: 2%;
    z-index: 100;
}

.fixed2{
    position: fixed;
    bottom: 0;
    left: 1;
    margin-left: 2%;
    margin-bottom: 2%;
    z-index: 100;
}

/* objet fixe */

/* Filtres */
.filters{
    display: flex;
    flex-direction: row;
    border-top:solid 1px #1D3124;
    border-bottom:solid 1px #1D3124;
    padding: 1%;
    margin-top: 1%;
}
.filters ul{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.filters select{
    background-color: #F6F4E8;
    border: none;
}
/* Filtres */

/* Slide */
.framer{
    overflow: hidden;
}
.framer figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s framer infinite;
}
.framer figure img{
    width: 20%;
    height: 100%;
    float: left;
}
@keyframes framer {
    0% {
        left: 0;
    }
    25%{
        left: 0;
    }
    33%{
        left: -100%;
    }
    50%{
        left:-100%;
    }
    66%{
        left: -200%;
    }
    90%{
        left: -200%;
    }
    99%{
        left: -300%;
    }
    100%{
        left: -300%;
    }
    

}


/* Slide */

/* Debut  css Body */
.background{
    background: none;
    background-color: #F6F4E8;
    }
.card-body {
    background-color: #BACEC1;
}
.card img{
    width: 100%;
    height: 75%;
}
section{
    padding-top: 5%;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
section .card{
    margin: 0.02em;
    margin-top: 1%;
    padding: 0;
}

.btn-primary {
    background-color: #E59560;
    border-color: #E59560;
}

.btn-primary:hover {
    background-color: rgb(54, 53, 66);
}

.main-content section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
}
.card-title a:hover{
    color: #E59560;
    font-weight: bold;
}
.masking{
    display: none;
}
.index{
    align-items: center;
    align-self: center;
    text-align: center;
    margin-top: 5%;
}
/* Css page produit */
.productmain{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.product{
    display: flex;
    flex-direction: column;
    
}
.similar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.similar div{
    height: 100%;
}
.itemscarac{
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;

}
.boutonpanier {
    width: 100%;
}

/* Css page produit */

/* Panier */

.panier{
    border: solid black 2px;
    position: sticky;
    display: flex;
    flex-direction: column-reverse;
    width: 20%;
    height: auto;
    top: 0;
    left: 0;
    background-color:#F6F4E8 ;
    z-index: 100;
}
.panier>div{
    display: flex;
    flex-direction: row;
    border-radius: solid black 2px;

}
.panier div img{
    height: 20%;
    width: 20%;
}
.panier *{
    margin: 0;
    padding: 0;
}
.total{
    border-top: solid black 2px;
    text-align: center;
    display: flex;
    padding: 1%;
    justify-content: space-between;
}
/* Panier */

/* account */
.account{
    border: solid black 2px;
    position: absolute;
    width: auto;
    height: auto;
    top: 4em;
    right: 1em;
    background-color:#F6F4E8 ;
    display: flex;
    flex-direction: column;
}
.account>div>form{
    display: flex;
    flex-direction: column;
    padding: 4%;
}
.account button{
    border-radius: 5px;
}
.contact{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.contact div form{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.contact div form input:not(:last-child){
    width: 50%;
    margin: auto;
}
.iconcontact{       
    text-align: center;
}
.iconcontact img{
    width: 20%;
    height: auto;
}
.map{
    text-align: center;
    padding-top: 20%;
    padding-bottom: 10%;
}
footer{
    background-color:#F6F4E8 ;
    border-top:black solid 1px ;
    margin-top: 2%;
    bottom: 0;
    position: absolute;
    font-size: 1.2rem;
}
/* account */

/* Fin  css Body */

/* mediaquery */
@media (max-width: 1024px){
    nav ul li{
        display: none;
    }
    body{
        background-image: url(../img/backgroundsmall.png);
    }
    .menu{
        flex-direction: column;
    }
     #burgermenu{
         display: block;
     }
     header{
         padding: 1%;
         background-color: rgba(1, 1, 1, 20%);
     }
     .burgerdisplay{
         display: block;
     }
     .menu a:nth-child(5){
        display: block;   
    }
     .menu a:nth-child(4){
         display: none;
     }
     header nav div div a{
        display: inline; 
    }
 
    header nav div{
        display: flex;
        justify-content: space-between;
    }
    header nav div div img{
        width: 75px;
        height: auto;
        
    }
    .active{
        color:#E59560;
    }
    a:hover {
        color: #E59560;
    }
    .productmain{
        flex-wrap: wrap;
    }
    .filters ul{
        flex-direction: column;
    }
    .filters ul li:first-child{
        display: none;
    }
    .panier{
        width: 70%;
        top: 6rem;
    }

    .account{
        z-index: 100;
        width: 70%;
    }
    .itemsimg img{
        width: 100%;
        height: auto;
    }
    footer{
        font-size: 0.5rem;
    }
    .propos label,input{
        width: 100%;
        height: auto;
    }
    .map{
        display: none;
        padding:0 ;
    }
    .iconcontact{
        padding-top:10%;
    }
    .propos{
        font-size: 1rem;
    }
}
/* mediaquery */
